fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
argon2-cffi
python-multipart
shap
scikit-learn
xgboost
Pillow
python-magic
python-dotenv
asyncpg
pytest
pytest-asyncio
httpx
email_validator